<div>
    Socket.io
    <hr>
    <input type="text" id="text">
    <ul id="mensajes">
        
    </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="static/js/chat.js"></script>